@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
	font-family: 'Domine', serif;
}

#syssla0, #attGoraListItem, #fardigaListItem {
	width: 250px;
	margin-right: 5px;
}

#lagg_till_btn, #andra, #fardig {
	border-radius: 5px;
	border: 1px solid #000;
	margin: 5px;
}